$accent: #DC3522;
$gray: #374140;
$black: #1E1E20;

.row {
  text-align: center;
  margin: 60px auto;
  animation-duration: 2s;
  animation-name: slideup;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

h1, h2, p {
  text-rendering: optimizeLegibility
}

h2, p {
  font-family: 'Lato', sans-serif;
  color: $gray;
}

h1 {
  color: $black;
  font-family: 'Merriweather', serif;
  font-size: 120px;
  line-height: 122px;
}

h2 {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 20px;
}

hr {
  width: 15%;
  margin: 40px auto;
  border-color: $accent;
}


@keyframes slideup {
  from {margin-top: 200%;}
  to {margin-top: 60px;}

}
