<div class="container">
  <div class="row">
    <div class="col">
      <h1>404</h1>
      <hr>
      <h2>Page Not Found</h2>
      <p>The page does not exist</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><a routerLink="">Return at home</a></p>
    </div>
  </div>
</div>
