#input_burger {
  #burger {
    font-size: 350%;
    color: #000000;
  }
}

.logoCesbron {
  height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


mat-toolbar {
  background: #ffffff;
}
