<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" id="input_burger">
    <mat-icon  id="burger">clear_all</mat-icon>
  </button>
  <img class="logoCesbron" src="./assets/img/logo_cesbron.png" alt="" routerLink="home">

<!-- burger menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Laval</span>
    </button>
    <button mat-menu-item>
      <span>Angers</span>
    </button>
    <button mat-menu-item>
      <span>Saumur</span>
    </button>
    <button mat-menu-item>
      <span>Les Ponts-de-Cé</span>
    </button>
  </mat-menu>
</mat-toolbar>
