<div class="jumbotron">
  <button mat-raised-button color="transparent" routerLink="/home"><img src="./assets/img/courses.png" alt=""> Retour</button>
</div>
<div class="container">
<!--ajout du Tableau détaillé-->
<!--  *ngIf="user" va récupérer la liste de l'utilisateur avec son ID-->
  <div class="userInfo" *ngIf="user">
    <div class="row" id="date">
      <div class="col-4"><h4>Date :</h4></div>
<!--  {{ user.Date }} récupère la date qui correspond à l'utilisateur-->
      <div class="col-6"><h5>{{ user.Date }}</h5></div>
      <div class="col-2"><button mat-raised-button color="transparent"><img src="./assets/img/edit.png" alt=""></button></div>
    </div>
    <br>
    <div class="row" id="Nom">
      <div class="col-4"><h4>Nom :</h4></div>
      <div class="col-6"><h5>{{ user.Nom }}</h5></div>
      <div class="col-2"><button mat-raised-button color="transparent"><img src="./assets/img/edit.png" alt=""></button></div>
    </div>
    <br>
    <div class="row" id="Marque">
      <div class="col-4"><h4>Marque :</h4></div>
      <div class="col-6"><h5>{{ user.Marque }}</h5></div>
      <div class="col-2"><button mat-raised-button color="transparent"><img src="./assets/img/edit.png" alt=""></button></div>
    </div>
    <br>
    <div class="row" id="Garantie">
      <div class="col-4"><h4>Garantie :</h4></div>
      <div class="col-6"><h5>{{ user.Garantie }}</h5></div>
      <div class="col-2"><button mat-raised-button color="transparent"><img src="./assets/img/edit.png" alt=""></button></div>
    </div>
    <br>
    <div class="row" id="description">
      <div class="col-4"><h4>Description :</h4></div>
      <div class="col-6"><h5>{{ user.description }}</h5></div>
      <div class="col-2"><button mat-raised-button color="transparent"><img src="./assets/img/edit.png" alt=""></button></div>
    </div>
    <br>
    <div class="row" id="Avoir">
      <div class="col-4"><h4>Avoir :</h4></div>
      <div class="col-6"><h5>{{ user.Avoir }}</h5></div>
      <div class="col-2"><button mat-raised-button color="transparent"><img src="./assets/img/edit.png" alt=""></button></div>
    </div>

  </div>

  <div class="saveButton text-center">
    <a href="/home">
    <button mat-raised-button color="transparent">Enregistrer</button>
    </a>
  </div>

</div>
