.jumbotron {
  background: transparent;
  button {
    background: transparent;
    box-shadow: none;
    font-size: 2rem;
    color: #000000;
  }
  img{
    width: 70px;
  }
}

.userInfo {
  img {
    width: 25px;
  }
  button {
    background: transparent;
    box-shadow: none;
  }
  h4 {
    display: flex;
    justify-content: flex-end;
  }
  .row {
    box-shadow: 0 4px 2px -2px #80808026;
    .col-2 {
      box-shadow: -6px 0px 1px -5px #80808061;
    }
  }
}

.saveButton {
  margin-top: 5%;
}

