<div class="jumbotron" style="background: transparent"></div>
<div class="row ml-4 mr-4">
  <mat-form-field>
<!--filtre qui permet de rechercher un utilisateur avec des mots clés ou son nom, prenom,...-->
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>
<!--  [dataSource]="dataSource" récupère tout les utilisateurs-->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
<!--    *ngFor="let column of columnsToDisplay permet de récupérer l'intitulé des colonnes-->
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let user"> {{user[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - La ligne de description est composée de cette colonne qui s'étend sur les colonnes du dessous -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let user" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="user == expandedElement ? 'expanded' : 'collapsed'">
        <div class="row">
          <div class="col-10">
              <div class="example-element-description">
                {{user.description}}
              </div>
            </div>
          </div>
          <div class="col-2">
<!--            [routerLink]="['/modify', user.id] permet d'acceder a une page dédié à ce client en récupérant son ID-->
            <a class="modifyButton" [routerLink]="['/modify', user.id]">
              <button mat-raised-button color="transparent"><img src="./assets/img/edit.png" alt=""></button>
            </a>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let user; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === user"
        (click)="expandedElement = user">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

